﻿@media (min-width: 600px) {
    .top {
        font-size: 26px;
        font-family: 'Lucida Console';
        color: white;
        padding: 16px;
        border-style: double;
        border-color: black;
        border-width: thick;
        background-color: #672683;
    }

    #sus {
        width: 600px;
        height: 150px;
        margin: 2em auto;
        background: transparent url('css_sprites.png') 0 0;
        animation: spintop 2s steps(8) infinite;
    }

    /* Animation keyframes for the sprite */
    @keyframes spintop {
        100% {
            background-position: 0 -2393px;
        }
    }

    .grey {
        background-color: #1b1b1b;
    }
}
