﻿@media (min-width: 600px) {
    canvas {
        border: 1px solid #d3d3d3;
        background-color: #f1f1f1;
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    .btn-primary {
        padding: 16px 64px !important;
        background-color: #891DA4 !important;
        border-radius: 30px !important;
        border-color: #891DA1 !important;
        color: white !important;
        font-family: 'Lucida Console' !important;
        font-size: 24px !important;
        margin: 10px !important;
    }

        .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #6a1580 !important;
            color: white !important;
        }

    .logo {
        background-color: #1b1b1b;
    }
}
